body{ 
    background:  #d6dff3; 
 }
  
  h1{
    text-align: center;
    margin:20px;
    text-shadow: 2px 2px 3px;
  }


 @media(max-width:640px){
    body{
      text-align:center;
    }
    #search{
      display:inline;
    }

    #useLocation{
      margin-top: 10px;;
    }
    .relative{
      justify-content: center;
      display:flex;
      margin-top:20px;
    }
    #unitToggle{
    margin-left:20px;
    }
  }

     #suggestiobody { 
      transition: background 0.5s ease; 
    }
    body.sunny { 
      background: linear-gradient(to bottom, #f46716, #fbbf24); 
    }
    body.cloudy {
       background: linear-gradient(to bottom, #3866a1, #6b7280);
       }
    body.rainy {
       background: linear-gradient(to bottom, #343d4b, #1e3a8a);
       }
    body.snowns li.active { 
      background-color: rgba(224, 219, 219, 0.898);
     }